<div>
  <%= link_to raw('<i class="users icon"></i> Help'), help_path, class: 'item' %>
  <%= link_to raw('<i class="wrench icon"></i> Contact'), contact_path, class: 'item' %>
  <%= link_to raw('<i class="user icon"></i> About'), about_path, class: 'item' %>
</div>